* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.wrapper {
  background: #ffffff url("bg.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper::after {
  content: " ";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.card-wrapper {
  position: relative;
  z-index: 9;
}
h2 {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 9;
  font-size: 2.5em;
}
button {
  margin: 20px;
  width: 200px;
  height: 60px;
  border-radius: 50px !important;
}
